<!DOCTYPE html>
<html lang="en">
<head>
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
    <meta charset="UTF-8">
    <title>Ironlog</title>
</head>
<body>
    {% from 'bootstrap4/nav.html' import render_nav_item %}
    {% from 'bootstrap5/form.html' import render_form %}
    {% from 'bootstrap5/table.html' import render_table %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('index', 'Home') }}
            {{ render_nav_item('exercise_types', 'Exercise Types') }}
        </div>
    </nav>
    <form method="post">
        {{ type_form.csrf_token() }}
        {{ render_form(type_form) }}
    </form>
    {{ render_table(types, table_classes='table-striped', header_classes='thead-dark', model=ExerciseType,
                    show_actions=True, delete_url=('delete_exercise_type', [('id', ':id')])) }}
</body>
</html>
